#map{
	width: 70vw; 
	height: 100vh;
	position: fixed;
	left: 30vw;
	top: 0px;
}

#options{
	width: 30vw; 
	height: 30vh; 
	position:fixed; 
	top: 5px; 
	left: 5px; 
	z-index:100; 
	background-color: none; 
	font: 14px/16px Arial, Helvetica, sans-serif; 
		
}

#graph{
	width: 0vw; 
	height: 0vh; 
	position:fixed; 
	top: 10vh; 
	left: 320px; 
	z-index:100; 
	background-color: white; 
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.bar{
    fill: steelblue;
}

.bar:hover{
fill: brown;
}

.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.info { 
	padding: 6px 8px; 
	font: 14px/16px Arial, Helvetica, sans-serif; 
	background: white; 
	background: rgba(255,255,255,0.8); 
	box-shadow: 0 0 15px rgba(0,0,0,0.2); 
	border-radius: 5px; 
} 

.info h4 { 
	margin: 0 0 5px; 
	color: #777; 
}

.legend { text-align: left; 
	line-height: 18px; 
	color: #555; 
} 

.legend i { 
	width: 18px; 
	height: 18px; 
	float: left; 
	margin-right: 8px; 
	opacity: 0.7; 
}


